<header><%-include('header');%></header>
<div class="container">
    <div class="row">
        
      <div class="col-md-12 order-md-1">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted"></span>
          </h4>
        <div class="alert alert-success" role="alert">
            Your order placed successfully.
        </div>
      </div>
    </div>
</div>
<footer><%-include('footer');%></footer>
